################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Achi.Data/obj/Debug
/Achi.Data.Entities/obj/Debug
/Achi.Data.Infrastructure/obj/Debug
/packages/EntityFramework.6.1.3
