################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/EntityFramework.6.1.3
/packages/Autofac.Configuration.4.0.0
/packages
.vs/Achi/v14*/
.vs/Achi/v14/.suo
*.suo
/*/bin
/*/obj/Debug